* {
  font-family: "Karla", serif;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  width: 50%;
}

.App-header {
  background-color: #282c34;
  color: #bb0a1e;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  font-size: xx-large;
}

.App-link {
  color: #bb0a1e;
  font-weight: bolder;
  text-decoration: underline;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.video {
  justify-content: center;
  align-items: center;
}

.play-badge {
  width: 200px;
}

.Overview-container,
.Tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.Nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.Nav-item {
  border: 1px solid grey;
  padding: 3px 5px;
  box-shadow: 2px 3px 3px rgb(65, 65, 65);
  color: rgb(158, 158, 158);
  text-decoration: none;
  list-style: none;
  font-size: medium;
}

.Nav-item:hover {
  border: 1px solid grey;
  color: rgb(158, 158, 158);
  background-color: #353b45;
}

.Nav-item:focus {
  box-shadow: inset 2px 3px 1px rgb(65, 65, 65);
}

.Tech-badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Tech-badge {
  padding: 1%;
}

.Overview-para,
.Tech-para {
  margin: 6px;
  font-size: medium;
  text-align: center;
}

.Maximal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow: hidden;
  margin: 0;
}

.Maximal-container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel.active {
  flex: 5;
}

.panel h3 {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media only screen and (min-width: 600px) {
  .video-size {
    width: 560px;
    height: 315px;
  }

  .Maximal-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }
}
